@import "src/globalstyles.scss";
.appContainer {
    @if $DEBUG {
      box-sizing: border-box;
      border: 1px solid $gray;
    }
  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}

.backgroundGradient {
    position: fixed;
    height: 45vh;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -10;
    background: linear-gradient(180deg, #FFFFFF 0%, $secondary-color 100%);
}

.landing {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid black;
    }

    display: flex;
    width: 100%;
    height: 100%;
    gap: $content-margin;
}

.intro {
    h1 {
        font-weight: 400;
        font-size: 4rem;
    }

    p {
        font-weight: 300;
        font-size: 1.6rem;
        margin: $content-margin 0;
    }
}

.button {
    margin-top: $content-margin;
    padding: $box-padding!important;
    width: 240px;
}

.panel {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid $primary-color;
    }

    flex: 1;
    padding-top: $box-padding * 2;
    padding-right: $box-padding;
    padding-bottom: $box-padding * 2;
    padding-left: $box-padding;
}

.leftpanel {
    flex: 4;
}

.rightpanel {
    flex: 4;
    margin-top: 8px;
}

.demoVulnerability {
    margin: $content-margin 0;
    padding: $box-padding*2;
    background-color:rgba(255, 255, 255, 0.6);

    h1 {
        font-size: 2.4rem;
        font-weight: 600;
        color: $primary-color;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.infoBox {
    display: flex;
    margin-top: $content-margin;
    gap: $content-margin*3;
    margin-bottom: $content-margin*2;
}

.explanationContainer {
    margin-top: $content-margin*2.4;

    & > div {
        display: flex;
        gap: $content-margin;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.explanationCard {
    display: flex;
    padding: $box-padding;
    background-color: #ffffff8f;
    border: 1px solid $primary-color;
    box-shadow: $shadow;
    border-radius: $radius;
    justify-content: center;
    align-items: center;
    margin-top: $content-margin;

    h2 {
        margin-left: $content-margin;
        color: $secondary-color;
        font-size: 1.2rem;
    }
}

.descriptionBox {

    div {
        height: 12px;
        background-color: $gray;
        opacity: 0.3;
        border-radius: $radius;
        margin-bottom: 6px;
    }

    :nth-child(2) {
        margin-top: $content-margin;
        width: 100%;
    }

    :nth-child(3) {
        width: 70%;
    }

    :nth-child(4) {
        width: 80%;
    }

    :nth-child(5) {
        width: 30%;
    }
}

@include media(">tablet", "<desktop") {
    .appContainer {
        width: $tablet;
    }

    .landing {
        flex-direction: column;
    }
}

@include media(">phone", "<tablet") {
    .appContainer {
        width: $phone;
    }

    .landing {
        flex-direction: column;
    }
}

@include media(">smphone", "<phone") {
    .appContainer {
        width: $smphone;
    }

    .landing {
        flex-direction: column;
    }

    .leftpanel {
        padding-bottom: 0;
    }

    .explanationContainer {
        margin-top: $content-margin*2.4;
    
        & > div {
            display: flex;
            gap: $content-margin;
            flex-direction: column;
        }
    
        img {
            width: 32px;
            height: 32px;
        }
    }
    
    .explanationCard {
        justify-content: flex-start;
    }

    .demoVulnerability h3 {
        font-size: 1.4rem;
    }

    .intro {
        h1 {
            font-size: 3rem;
        }
    
        p {
            font-size: 1.4rem;
        }
    }
}