@import "src/globalstyles.scss";


.landing {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid black;
    }

    display: flex;
    width: 100%;
    height: 100%;
}

.panel {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid $primary-color;
    }

    flex: 1;
    padding-top: $box-padding * 4;
    padding-right: $box-padding * 2;
    padding-bottom: $box-padding * 4;
    padding-left: $box-padding * 2;
}

@include media(">tablet", "<desktop") {

}

@include media(">phone", "<tablet") {
    
}