@import "src/globalstyles";

.button {
    font-family: $app-font;
    border: none;
    border-radius: $radius;
    padding: $box-padding $box-padding*2;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.primary {
    background-color: $primary-color;
    color: white;
}

.secondary {
    border: 1px solid $primary-color;
    background-color: white;
    color: $primary-color;
}

.dashboard {
    border: 1px solid $secondary-color;
    background-color: white;
    color: $secondary-color;

    &:hover {
        background-color: $secondary-color;
        color: white;
    }
}

.warning {
    border: 1px solid $red;
    background-color: white;
    color: $red;
}