@import "src/globalstyles.scss";

.cardContainer {
    border-radius: $radius;
    width: 100%;
    border: 1px solid $mdgray;
    display: flex;
    flex-direction: column;
}

.cardTop {
    border-radius: $radius $radius 0 0;
    flex: 1;
    padding: $box-padding $box-padding*2;

    h1 {
        font-size: 2rem;
    }
}

.cardTopEnabled {
    background-color: $secondary-color;
    color: white;
}

.cardTopDisabled {
    background-color: $gray;
    color: white;
}


.cardBottom {
    flex: 1;
    background-color: white;
    padding: $box-padding $box-padding*2;
    display: flex;
    border-radius: $radius;
}

.switchContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.alertContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alertHeader {
    display: flex;
    justify-content: center;
    width: 50px;

    img {
        margin-right: 4px;
    }
}

@include media(">tablet", "<desktop") {
}

@include media(">phone", "<tablet") {
}