@import "src/globalstyles.scss";

.header {
    margin-top: $app-margin-top;
}

.nav {
    display: flex;
    padding: $box-padding;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border: 1px solid $primary-color;
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: white;
}

.brandlogo {
    height: 32px;
    margin-right: $content-margin;
}

.divider {
    box-sizing: border-box;
    border-left: 1px solid black;
    margin-left: $content-margin;
    margin-right: $content-margin;
    height: 24px;
    width: 1px;
}

.pagename {
    font-family: $app-font;
    font-weight: 700;
}

.spacing {
    flex: 1;
    @if $DEBUG {
        border-bottom: 1px solid red;
    }
}