@import "src/globalstyles.scss";

.dashboardcontainer {
    width: 100%;
    margin-top: $content-margin*2;
    animation: fade-in 150ms $curve forwards;
}

.statNumber {
    font-size: 4.6rem;
    font-weight: 300;
    margin-top: -6px;
    color: black;
}

.card {
    box-sizing: border-box;
    padding: $box-padding*1.4 $box-padding*2;
    background-color: white;
    border-radius: $radius;
    border: 1px solid $mdgray;
}

.stats {
    display: flex;
    gap: $content-margin*2;
    margin-bottom: $content-margin*2;
}

.userstat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.reportstat {
    flex: 1;
}

.vulnsummaryContainer, .libsummaryContainer {
    width: 100%;
}

.userstatContainer {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid black;
    }

    display: flex; 
    margin-bottom: -5px;
}

.userstatRegistered, .userstatVulnerabilities {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid purple;
    }

    width: 100px;
}

.userVulnerabilitiesContainer {
    margin: $content-margin 0;
    padding: $box-padding 0;
}

.chart {
    height: 80px;
    width: 100%;
}


.vulnHeaders {
    display: flex;
    align-items: center;
    padding: 0;

    h3 {
        display: block;

        &:nth-child(1) {
            flex: 1;
            margin-right: $content-margin;
        }

        &:nth-child(2) {
            flex: 1;
            margin-right: $content-margin;
        }

        &:nth-child(3) {
            flex: 1;
            margin-right: $content-margin;
        }

        &:nth-child(4) {
            flex: 3;
        }
    }
}

.libsummaryResult {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    padding: 2px;
    row-gap: $box-padding;
    column-gap: $box-padding;
    margin: $content-margin 0;
    justify-content: space-between;
}

.libsummaryContainer {
    margin-bottom: $content-margin*2;
}

@include media(">tablet", "<desktop") {
    .statNumber {
        font-size: 5rem;
        margin-top: -10px;
    }

    .libsummaryResult {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@include media(">phone", "<tablet") {
}