@import "src/globalstyles.scss";

.dashboardcontainer {
    margin-top: $content-margin*2;

    h3 {
        font-weight: 400;
        font-size: 1.2rem;
        color: $gray;
    }

    p {
        font-size: 4.6rem;
        font-weight: 300;
    }
}

.card {
    box-sizing: border-box;
    padding: $box-padding*2;
    margin-bottom: $content-margin*2;
    background-color: white;
    box-shadow: $shadow;
    border-radius: $radius;
    border: 1px solid $lightgray;
}

.stats {
    display: flex;
    gap: $content-margin*2;
}

.userstat {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.reportstat {
    flex: 5;
}

.vulnsummaryContainer, .libsummaryContainer {
    width: 100%;
}

.userstatContainer {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid black;
    }

    display: flex; 
    margin-bottom: -5px;
}

.userstatRegistered, .userstatVulnerabilities {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid purple;
    }

    flex: 1;
}

.chart {
    height: 100px;
}
