$DEBUG: false;

// Font Familes
$brand-font : "Fira Sans", Geneva, sans-serif;
$app-font : "Nunito", Gill Sans, sans-serif;

// Colors
$primary-color: #4429E9;
$primary-gradient: linear-gradient(268.43deg, #4429E9 -496.06%, #715AFC 51.33%);
$red: #F25022;
$gray: #919EAB; 
$lightgray: #F4F6F9; 


// Spacing
$box-padding: 14px;
$content-margin: 10px;

// ETC
$radius: 5px;
$shadow: rgba(50, 50, 93, 0.20) 0px 2px 3px -1px, rgba(0, 0, 0, 0.25) 0px 1px 3px -1px;

// Default Config
* {
    font-family: $app-font;
    font-size: 62.5%;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {   
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem; 
}

h3 {
    font-size: 1.6rem; 
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.card-bg {
    @if $DEBUG {
        box-sizing: border-box;
        border: 1px solid black;
    }

    box-shadow: $shadow;
    border: 1px solid $lightgray;
    border-radius: $radius;
}

.brandname {
    font-family: $brand-font;
    background: $primary-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $primary-color;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: $gray;
    border-radius: 50%;
    display: inline-block;
}