@import "src/variables.scss";

body {
}

.App {
  text-align: center;
}

.app-container {
  @if $DEBUG {
    box-sizing: border-box;
    border: 1px solid $gray;
  }
  width: 800px;
  height: 100vh;
  margin: 0 auto;
}