@import "src/globalstyles.scss";

.App {
  text-align: center;
}

.app-container {
  @if $DEBUG {
    box-sizing: border-box;
    border: 1px solid $gray;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100vh;
  margin: 0 auto;
}

.content {
  @if $DEBUG {
    box-sizing: border-box;
    border: 1px solid $gray;
  }

  flex: 1;
}